<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.arpitmehta"
    android:versionCode="14"
    android:versionName="1.6.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <permission
        android:name="edu.neu.madcourse.arpitmehta.communication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="edu.neu.madcourse.arpitmehta.communication.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- Activities for Main Screen -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities for About Screen -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>

        <!-- Activities for Sudoku -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.sudoku.Sudoku"
            android:label="@string/sudoku_app_name"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.AboutActivity" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.sudoku.About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.sudoku.Prefs"
            android:label="@string/settings_title" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.sudoku.Game"
            android:label="@string/game_title" >
        </activity>

        <!-- Activities for Dictionary -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.dictionary.DictionaryAck"
            android:label="@string/title_activity_dictionary_ack"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.dictionary.DictionaryActivity" >
        </activity>

        <!-- Activites for New Word Game Activity -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity"
            android:label="@string/title_activity_word_game"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.wordgame.WordGameAckActivity"
            android:label="@string/title_activity_word_game_ack"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.wordgame.WordGamePrefs"
            android:label="@string/wordGamePrefTitle"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.wordgame.LetrisGame"
            android:label="@string/title_activity_letris"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.wordgame.InstructionsActivity"
            android:label="@string/title_activity_instructions"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.wordgame.WordGameActivity" />
        </activity>

        <!-- Activities for GCM Communication -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.communication.CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.communication.CommunicationAckActivity"
            android:label="@string/title_activity_communication_ack"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.communication.CommunicationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.communication.CommunicationActivity" />
        </activity>

        <receiver
            android:name="edu.neu.madcourse.arpitmehta.communication.CommunicationBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.neu.madcourse.arpitmehta.communication" />
            </intent-filter>
        </receiver>

        <service android:name="edu.neu.madcourse.arpitmehta.communication.CommunicationIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="edu.neu.madcourse.arpitmehta.communication.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.communication.CommunicationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.communication.CommunicationActivity" />
        </activity>

        <!-- Two Player Word Game Activities -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity"
            android:label="@string/title_activity_two_player_word_game"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameAckActivity"
            android:label="@string/title_activity_two_player_word_game_ack"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.SyncGamePlayActivity"
            android:label="@string/title_activity_sync_game_play"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.RealTimeGamePlayActivity"
            android:label="@string/title_activity_real_time_game_play"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.twoplayerwordgame.SyncGamePlayActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.twoplayerwordgame.SyncGamePlayActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.AsyncGamePlayActivity"
            android:label="@string/title_activity_async_game_play"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity" />
        </activity>
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TurnBasedGamePlayActivity"
            android:label="@string/title_activity_turn_based_game_play"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.twoplayerwordgame.AsyncGamePlayActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerWordGameActivity" />
        </activity>
        <!--
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.TwoPlayerGameLoginActivity"
            android:label="@string/title_activity_two_player_game_login"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>
        -->
        <activity
            android:name="edu.neu.madcourse.arpitmehta.twoplayerwordgame.ShakeDetectActivity"
            android:label="@string/title_activity_shake_detect"
            android:parentActivityName="edu.neu.madcourse.arpitmehta.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.neu.madcourse.arpitmehta.MainActivity" />
        </activity>

        <!-- Trickiest Part Activities -->
        <activity
            android:name="edu.neu.madcourse.rajatmalhotra.trickiestpart.TrickiestPart"
            android:label="@string/title_activity_trickiest_part"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.rajatmalhotra.trickiestpart.ManualInput"
            android:label="@string/title_activity_manual_input"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.rajatmalhotra.trickiestpart.WorkoutToday"
            android:label="@string/title_activity_workout_today"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.rajatmalhotra.trickiestpart.WorkoutEntries"
            android:label="@string/title_activity_workout_entries" >
        </activity>
        <activity
            android:name="edu.neu.madcourse.rajatmalhotra.trickiestpart.MultiTurnExerciseDialogActivity"
            android:label="@string/title_activity_workout_today"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>